services:
  eureka-server:
    build:
      context: ./eureka-server
      dockerfile: Dockerfile
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - spring-net
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761" ]
      interval: 10s
      timeout: 5s
      retries: 5

  server-config:
    build:
      context: ./server-config
      dockerfile: Dockerfile
    container_name: server-config
    ports:
      - "8888:8888"
    depends_on:
      - eureka-server
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka
    networks:
      - spring-net
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8888/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  gateway-service:
    build:
      context: ./gateway-service
      dockerfile: Dockerfile
    container_name: gateway-service
    ports:
      - "8762:8762"
    depends_on:
      server-config:
        condition: service_healthy
    environment:
      - SPRING_CONFIG_IMPORT=optional:configserver:http://server-config:8888
      - DB_URL=jdbc:postgresql://172.17.0.1:5432/lab17
      - DB_USERNAME=anhdq
      - DB_PASSWORD=1231234
    networks:
      - spring-net

  authen-service:
    build:
      context: ./authen-service
      dockerfile: Dockerfile
    container_name: authen-service
    depends_on:
      server-config:
        condition: service_healthy
    environment:
      - SPRING_CONFIG_IMPORT=optional:configserver:http://server-config:8888
      - DB_URL=jdbc:postgresql://172.17.0.1:5432/lab17
      - DB_USERNAME=anhdq
      - DB_PASSWORD=1231234
    networks:
      - spring-net

networks:
  spring-net:
    driver: bridge
