spring:
  data:
    redis:
      host: localhost
      port: 6379
      password:
  jmx:
    enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5432/lab17
    username: dev
    password: Mvmvmv99@
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    ip-address: 192.168.154.1