eureka:
  instance:
    hostname: eureka-server
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
spring:
  config:
    import: "optional:configserver:http://config-server:8888"
#  cloud:
#    config:
#      discovery:
#        enabled: true
#      fail-fast: true